<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>  
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>


<div id="sample-window">
	
	<div class="sample-content">
		<a herf="#" class="close-button">X</a>
		<h1>Icon Design and Color Schemes</h1>
		<h3><em>Graphic Design, Icon Design, Pixel Hinting, <a href="http://academicearth.org/">AcademicEarth.org</a></em><span class="right">Date: June 2013</span></h3>
		<p>Here's some information about this sample. Test. Here's some information about this sample. Test. Here's some information about this sample. Test. Here's some information about this sample. Test. Here's some information about this sample. Test. Here's some information about this sample. Test. Here's some information about this sample. Test. Here's some information about this sample. Test. Here's some information about this sample. Test. Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
		<p>Here's some information about this sample. Test.</p>
	</div>
</div>
