{% extends "layout.html" %}
{% block content %}
<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a href="/" class="close-button"></a>
			<h1>AccountingDegree.com Redesign</h1>
			<h3><strong>Role:</strong> UI Design, UX Design, Typography</h3>
			<h3><strong>Date:</strong> June 2013</h3>

			<p>In this project, I turned a lackluster and intuitive design into a polished, well-thought-out interface. I kept the layout and type simple and usable while adding some nuance here and there with small amounts of dropshadow and shading to make elements like headers and buttons stand out. I also created the background for the site and aided in the design of the logo. Though the current site has a few changes since my design, you can see most of my design at <a href="http://www.accountingdegree.com/">AccountingDegree.com</a>.</p>

			<a href="/" class="close-bottom"></a>
		</div>	
		<img class="center" src="{{ url_for('static', filename='img/samples/accounting-big.png') }}">
	</div>
</div>
{% endblock %}