<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a herf="#" class="close-button"></a>
			<h1>Anvil Bar &amp; Refuge Redesign</h1>
			<h3><strong>Role:</strong> Interaction Design, UI/UX Design, Web Design, Frontend</h3>
			<h3><strong>Date:</strong> September 2014</h3>

			<p>A classic Houston staple, <a href="http://www.anvilhouston.com/">Anvil Bar &amp; Refuge</a> was one of the first bars in the city to offer classic cocktails with high quality spirits and ingredients. The idea was simple; the execution was flawless. We intended to carry this classic, simple ethos into the design of the Anvil site. An image of the bar atmosphere, some tastefully sized branding, and some modern typography that’s influenced by the geometric sans serif classics of the 1920s and 30s was all that was needed to showcase this classic Houston gem.</p>

			<p>I was primarily in charge of the look and feel of the site, while also modeling the data and structure of the site for the backend developer, and making tweaks to the frontend behind our lead frontend developer. I also met with the clients to assess needs and new features, and also performed quality assurance for the site to help the launch go smoothly.</p>
		</div>
		<img class="center" src="{{ url_for('static', filename='img/samples/anvil-portfolio.png') }}">
	</div>
</div>