{% extends "layout.html" %}
{% block content %}
<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a href="/" class="close-button"></a>
			<h1>Hay Merchant Redesign</h1>
			<h3><strong>Role:</strong> Interaction Design, UI/UX Design, Web Design, Project Management, Frontend, jQuery</h3>
			<h3><strong>Date:</strong> June 2015</h3>
			
			<p>From the esteemed restaurant group Clumsy Butcher, <a href="https://www.haymerchant.com/">The Hay Merchant</a> was one of the first Houston bars to offer around 50 beers on tap. Combine that with the bar’s access to Chris Shepherd’s dishes, and you have a place I will never want to leave. Like most Clumsy Butcher properties, we incorporated a lot of Hay Merchant’s beautiful imagery and details into the design, using lots of background images to give a good look and feel of the venue. In addition we used a unique play of typefaces, including a gritty bleeding-typewriter Schmutz, a cleaner American Typewriter for body copy, and the classic Gill Sans for headings. We used mostly dark, textured background images that matched the details of the venue as well.</p>

			<p>One unique aspect of the site was the inclusion of a Beer List, which runs off a database that includes hundreds of beers that rotate their taps. Presenting this list in an approachable interface that contains tons of data about the brewery, the style of beer, and even the types of hops and malt variety proved to be a welcome challenge for me from a UI/UX perspective.</p>

			<p>I was primarily in charge of the look and feel of the site, while also modeling the data and structure of the site for the backend developer, and making tweaks to the frontend behind our lead frontend developer. I also coded a fair amount of the javascript involving the truncating and expanding of data with the beer database. I also met with the clients to assess needs and new features, and also performed quality assurance for the site to help the launch go smoothly.</p>

			<a href="/" class="close-bottom"></a>
		</div>
		<img class="center" src="{{ url_for('static', filename='img/samples/hay-merchant-big.png') }}">
	</div>
</div>
{% endblock %}