{% extends "layout.html" %}
{% block content %}
<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a href="/" class="close-button"></a>
			<h1>Holocaust Museum Houston Display Screen</h1>
			<h3><strong>Role:</strong> Interaction Design, UI/UX Design, Web Design, Project Management</h3>
			<h3><strong>Date:</strong> June 2015</h3>

			<p>The Holocaust Museum Houston is an important reminder of the dangers of prejudice hatred, and violence. Not only is the memorial museum dedicated to the remembrance of holocaust victims, it also endeavors to remind us these dangers are still relevant today. My work with the Holocaust Museum Houston consisted of designing a touchscreen interface intended for a 42 inch screen. This display sheds light on the hundreds of Jewish communities that were destroyed during the Holocaust.</p>

			<p>Given the somber subject material of the venue and the fact that it would be positioned within the dark museum itself, we decided to use a dark color scheme with a gold highlight. We incorporated a metal texture into the background to represent the cold nature of the time period. We used the museum’s art direction for type choices and heading details, such as the box outline surrounding certain headings. Since the target audience ranged quite a bit from young to old, we decided to include buttons to scroll down overflow containers, as well as allowing them to push the content with their fingers to scroll.</p>

			<p>I was primarily in charge of the look and feel of the display in addition to the user flow, while also modeling the data and structure of the site for the backend developer, and making tweaks to the frontend behind our lead frontend developer. I also met with the clients to assess needs and new features, and also performed quality assurance for the site to help the launch go smoothly.</p>

			<a href="/" class="close-bottom"></a>
		</div>
		<img class="center" src="{{ url_for('static', filename='img/samples/hmh-big.png') }}">
	</div>
</div>
{% endblock %}