{% extends "layout.html" %}
{% block content %}
<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a href="/" class="close-button"></a>
			<h1>Hermann Park Conservancy Redesign</h1>
			<h3><strong>Role:</strong> Interaction Design, UI/UX Design, Web Design, Project Management, Frontend</h3>
			<h3><strong>Date:</strong> March 2014</h3>

			<p>In honor of its centennial year, the Hermann Park Conservancy commissioned MWM to redesign its web platform. <a href="http://www.hermannpark.org/">The responsive site</a> utilizes stunning imagery to highlight the beauty of one of Houston’s crown jewels and a model urban greenspace. This site also showcases design incorporating parallax scrolling and uses a clear sense of heirarchy.</p>

			<p>I was primarily in charge of designing the look, feel, and layout of the site while also collaborating in the design process with Creative Director Douglas Newman and my colleague Maggie Donovan. In addition to designing the UI for the site, I also met with the client to discuss needs and site structure, helped organize the site architecture with the client (which has since evolved), made decisions about what data models are necessary to meet client needs, managed backend and frontend development, and also dove into some frontend development myself.</p>

			<a href="/" class="close-bottom"></a>
		</div>
		<img class="center" src="{{ url_for('static', filename='img/samples/hpc-big.png') }}">
	</div>
</div>
{% endblock %}