{% extends "layout.html" %}
{% block content %}
<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a href="/" class="close-button"></a>
			<h1>Icon Design and Color Schemes</h1>
			<h3><strong>Role:</strong> Graphic Design, Pixel Hinting, Icon Design</h3>
			<h3><strong>Date:</strong> June 2013</h3>

			<p>This project demonstrates my use of color and space when arranging and creating icons. My goal was to keep intact the color schemes used throughout the site, particularly with <a href="http://academicearth.org/playlists/">previous graphics</a>.</p>
			
			<a href="/" class="close-bottom"></a>
		</div>	
		<img class="center" src="{{ url_for('static', filename='img/samples/icons-big.png') }}">
	</div>
</div>
{% endblock %}