{% extends "layout.html" %}
{% block content %}
<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a href="/" class="close-button"></a>
			<h1>Job Board Design</h1>
			<h3><strong>Role:</strong> Interaction Design, UX Design, UI Design</h3>
			<h3><strong>Date:</strong> February 2013</h3>

			<p>I did some work on a medical billing and coding site. In addition to refining the article design and stylizing the monetization for the site, I designed this job board.</p>

			<a href="/" class="close-bottom"></a>
		</div>	
		<img class="center" src="{{ url_for('static', filename='img/samples/job-board-big.png') }}">
	</div>
</div>
{% endblock %}