<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a herf="#" class="close-button"></a>
			<h1>Julep Launch</h1>
			<h3><strong>Role:</strong> Interaction Design, UI/UX Design, Web Design, Frontend</h3>
			<h3><strong>Date:</strong> August 2014</h3>

			<p>A new concept for the restaurant group Clumsy Butcher, <a href="http://www.julephouston.com/">Julep</a> is a Houston bar that captures the spirit of the south with fine, classic cocktails. With the decor of the venue modeled after Southern Victorian style, we extended this aesthetic into the site with detailed patterns and trims, old serif typography, and touches of ornamentation here and there. We also decided to showcase the beautiful photography the bar behind the Victorian style on top, resulting in a unique blend of old Victorian detail and modern minimalism.</p>

			<p>I was primarily in charge of the look and feel of the site, while also modeling the data and structure of the site for the backend developer, and making tweaks to the frontend behind our lead frontend developer. I also met with the clients to assess needs and new features, and also performed quality assurance for the site to help the launch go smoothly.</p>
		</div>
		<img class="center" src="{{ url_for('static', filename='img/samples/julep-big.png') }}">
	</div>
</div>