{% extends "layout.html" %}
{% block content %}
<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a href="/" class="close-button"></a>
			<h1>Nightingale Room Launch</h1>
			<h3><strong>Role:</strong> Interaction Design, UI/UX Design, Web Design, Project Management, Frontend, jQuery</h3>
			<h3><strong>Date:</strong> March 2015</h3>

			<p>A new concept for the restaurant group Clumsy Butcher, <a href="http://www.nightingaleroom.com/">Nightingale Room</a> is a Houston bar with a boozy speakeasy vibe, featuring live music and a relaxed atmosphere with premium quality drinks. We kept the design simple, utilize the venue’s photography and the classic yet forward-thinking Futura typeface. (fitting that it was created during the prohibition era of the US)</p>

			<p>For this site, I took the lead frontend developer role, styling the site’s CSS while also managing scrolling and AJAX loading behavior for the calendar page of the site. I was also primarily in charge of the look and feel of the site, while also modeling the data and structure of the site for the backend developer. I also met with the clients to assess needs and new features, and also performed quality assurance for the site to help the launch go smoothly.</p>

			<a href="/" class="close-bottom"></a>
		</div>
		<img class="center" src="{{ url_for('static', filename='img/samples/nightingale-big.png') }}">
	</div>
</div>
{% endblock %}