<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a herf="#" class="close-button"></a>
			<h1>The Pastry War Launch</h1>
			<h3><strong>Role:</strong> Interaction Design, UI/UX Design, Web Design, Frontend</h3>
			<h3><strong>Date:</strong> June 2014</h3>

			<p>A fairly new concept for the restaurant group Clumsy Butcher, <a href="http://www.thepastrywar.com/">The Pastry War</a> is a Houston mezcaleria with premium agave spirits and lots of flavor. The bar itself is named after an 1838 conflict between Mexico and France, so there was a lot of rich history and culture to draw upon for the site design inspiration. We decided to mix an old news-print font and offset it with a modern sans serif in all caps. We used quite a bit of texture in the images and artifacts of the design to give it an aged, adobe (brick) type of look.</p>

			<p>I was primarily in charge of the look and feel of the site, while also modeling the data and structure of the site for the backend developer, and making tweaks to the frontend behind our lead frontend developer. I also met with the clients to assess needs and new features, and also performed quality assurance for the site to help the launch go smoothly.</p>
		</div>
		<img class="center" src="{{ url_for('static', filename='img/samples/pastry-big.png') }}">
	</div>
</div>