{% extends "layout.html" %}
{% block content %}
<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a href="/" class="close-button"></a>
			<h1>Dynamic Slideshow on a Timeline</h1>
			<h3><strong>Role:</strong> Interaction Design, UX Design, UI Design</h3>
			<h3><strong>Date:</strong> March 2012</h3>

			<p>I was given images and content that corresponded to each slide. The project was a very open-ended, "design a slideshow." I decided to model the design based on the appearance of a timeline, since the slideshow content was very time-focused ("Today's University Is" and "Tomorrow's University Will Be").</p>

			<a href="/" class="close-bottom"></a>
		</div>	
		<img class="center" src="{{ url_for('static', filename='img/samples/slideshow-big.png') }}">
	</div>
</div>
{% endblock %}