{% extends "layout.html" %}
{% block content %}
<div id="sample-window">
	<div class="sample-container">
		<div class="sample-content group">
			<a href="/" class="close-button"></a>
			<h1>Underbelly Redesign</h1>
			<h3><strong>Role:</strong> Interaction Design, UI/UX Design, Web Design, Frontend</h3>
			<h3><strong>Date:</strong> January 2015</h3>

			<p>From the esteemed restaurant group Clumsy Butcher, <a href="http://www.underbellyhouston.com/">Underbelly</a> is a local Houston staple known for it's great food and award winning chef Chris Shepherd. This was a fun project where we were able to use delicious imagery, playful yet sophisticated typography, and a modern clean design direction to help bring all the elements together.</p>

			<p>I was primarily in charge of the look and feel of the site, while also modeling the data and structure of the site for the backend developer, and making tweaks to the frontend behind our lead frontend developer. I also met with the clients to assess needs and new features, and also performed quality assurance for the site to help the launch go smoothly.</p>
		</div>
		<img class="center" src="{{ url_for('static', filename='img/samples/underbelly-big.png') }}">
	</div>
</div>
{% endblock %}