<div class="container group">
    <div id="second-div">
        Second Div Testing!
    </div>
    <div id="first-div">
        First Div Testing!
    </div>
</div>
<div class="container group">
    <div id="single-col">
        1
    </div>
    <div id="single-col">
        2
    </div>
    <div id="single-col">
        3
    </div>
    <div id="single-col">
        4
    </div>
    <div id="single-col">
        5
    </div>
    <div id="single-col">
        6
    </div>
    <div id="single-col">
        7
    </div>
    <div id="single-col">
        8
    </div>
    <div id="single-col">
        9
    </div>
    <div id="single-col">
        10
    </div>
    <div id="single-col">
        11
    </div>
    <div id="single-col">
        12
    </div>
</div>
<div class="container group">
    <div id="center-3col">
        Testing
    </div>
</div>