{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="introcontent">
		<h1>Jordan Krueger</h1>
		<h2>UI Design. Project Management. Front-end Development.</h2>
		<p>Welcome to my portfolio site. In addition to my curated projects below, you can check for more <a data-hover="recent examples" href="#">recent examples</a>, works in progress, and other rants and musings in the navigation above.</p>
	</div>
</div>
<div class="bg-secondary">
	<div class="container">
		<h1 class="work">Portfolio</h1>
		<ol class="gallery group">
			<li>
				<a class="thumb trigger icon-color"  style="background-image: url('{{ url_for('static', filename='img/ae-icons-thumb.png') }}');">
					<div class="preview">
						<h2>{{ title }}</h2>
						<h4>Role</h4>
						{{ role }}
						<h4>Date</h4>
						{{ date }}
					</div>
					
				</a>
			</li>
			<li>
				<a class="thumb trigger accounting-degree" href="#" style="background-image: url('{{ url_for('static', filename='img/accountingdegree-home.png') }}');">
					<div class="preview">
						<h2>Site Redesign</h2>
						<h4>Role</h4>
						User Interface Designer
						<h4>Date</h4>
						December 2012
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger job-board" href="#" style="background-image: url('{{ url_for('static', filename='img/mbc-job-board.png') }}');">
					<div class="preview">
						<h2>Job Board Design</h2>
						<h4>Role</h4>
						User Interface Designer
						<h4>Date</h4>
						February 2013
					</div>
				</a>
			</li>
			<li>
				<a class="thumb" href="#" style="background-image: url('{{ url_for('static', filename='img/ou-slideshow-page2-66.png') }}');">
					<div class="preview">
						<h2>Dynamic Slideshow on a Timeline</h2>
						<h4>Role</h4>
						User Interface Designer
						<h4>Date</h4>
						March 2012
					</div>
				</a>
			</li>
			<li>
				<a class="thumb" href="#" style="background-image: url('{{ url_for('static', filename='img/tsd-home.png') }}');">
					<div class="preview">
						<h2>Site and Logo Redesign</h2>
						<h4>Role</h4>
						User Interface Designer
						<h4>Date</h4>
						January 2013
					</div>
				</a>
			</li>
		</ol>	
	</div>
</div>
<div class="contact group">
	<div class="content-wrap">
		<div class="contactblurb">
			<h1><a name="contact" class="target">Talk to Me</a></h1>
			<p>I'm always excited to meet more people in my industry or hear about new and interesting projects from prospective clients. If you'd like to reach me for potential work or just to say &ldquo;Hi,&rdquo; fill out the form to the right:</p>
		</div>
		<form action="/#contact" method="post">
		<fieldset>
				<p>Hi Jordan!</p>
				<p>My <label for="text-name">name</label> is <input type="text" id="text-name" name="name" value required="required" placeholder="Not Freddy Krueger">, and my <label for="text-email">email</label> address is <input type="email" id="text-email" name="email" value required="required" placeholder="notfreddy@krueger.me">.</p>
				<p>There's a lot I have to say, so I'll just get to the <label for="point">point</label>:<br>
				<textarea id="point" name="message" rows="6" cols="40" placeholder="I just wanted to say..."></textarea>
				Thanks! <br><input type="submit" id="button" name="sendit" value="Send"></p>
		</fieldset>
		
		 
	</div>
</div>

{% endblock %}