{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="introcontent">
		<h1>Jordan Krueger</h1>
		<h2>UI/UX Design. Project Management. Front-end Development.</h2>
		<p>Welcome to my portfolio site. I am a designer, project manager, and front-end developer based in New York City. In my spare time, I enjoy learning new technologies, rollerblading around the city, and trying craft beers.</p>

		<p>If you'd like to contact me for work, use the <a href="#contact">form below</a></p>
	</div>
</div>
<div class="sample-listing">
	<div class="container">
		<h1 class="work">Portfolio</h1>
		<ol class="gallery group">
			<li>
				<a class="thumb trigger hmh" href="/samples/hmh">
					<img src="{{ url_for('static', filename='img/samples/hmh-thumb.png') }}">
					<div class="preview">
						<h2>Holocaust Museum Houston Display Screen</h2>
						<h3>Role</h3>
						Interaction Design, UI/UX Design, Web Design, Project Management
						<h3>Date</h3>
						June 2015
					</div>
					
				</a>
			</li>
			<li>
				<a class="thumb trigger hay-merchant" href="/samples/hay-merchant">
					<img src="{{ url_for('static', filename='img/samples/hay-merchant-thumb.png') }}">
					<div class="preview">
						<h2>Hay Merchant Redesign</h2>
						<h3>Role</h3>
						Interaction Design, UI/UX Design, Web Design, Project Management, Frontend, jQuery
						<h3>Date</h3>
						June 2015
					</div>
					
				</a>
			</li>
			<li>
				<a class="thumb trigger nightingale" href="/samples/nightingale">
					<img src="{{ url_for('static', filename='img/samples/nightingale-thumb.png') }}">
					<div class="preview">
						<h2>Nightingale Room Launch</h2>
						<h3>Role</h3>
						Interaction Design, UI/UX Design, Web Design, Project Management, Frontend, jQuery
						<h3>Date</h3>
						March 2015
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger underbelly" href="/samples/underbelly">
				<img src="{{ url_for('static', filename='img/samples/underbelly-thumb.png') }}">
					<div class="preview">
						<h2>Underbelly Redesign</h2>
						<h3>Role</h3>
						Interaction Design, UI/UX Design, Web Design, Project Management, Frontend
						<h3>Date</h3>
						January 2015
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger rice" href="/samples/rice">
				<img src="{{ url_for('static', filename='img/samples/rice-thumb.png') }}">
					<div class="preview">
						<h2>Rice University Giving Redesign</h2>
						<h3>Role</h3>
						Interaction Design, UI/UX Design, Web Design, Project Management, Frontend, jQuery
						<h3>Date</h3>
						October 2014
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger anvil" href="/samples/anvil">
				<img src="{{ url_for('static', filename='img/samples/anvil-thumb.png') }}">
					<div class="preview">
						<h2>Anvil Bar &amp; Refuge Redesign</h2>
						<h3>Role</h3>
						Interaction Design, UI/UX Design, Web Design, Project Management, Frontend
						<h3>Date</h3>
						September 2014
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger julep" href="/samples/julep">
				<img src="{{ url_for('static', filename='img/samples/julep-thumb.png') }}">
					<div class="preview">
						<h2>Julep Launch</h2>
						<h3>Role</h3>
						Interaction Design, UI/UX Design, Web Design, Project Management, Frontend
						<h3>Date</h3>
						August 2014
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger pastry-war" href="/samples/pastry-war">
				<img src="{{ url_for('static', filename='img/samples/pastry-thumb.png') }}">
					<div class="preview">
						<h2>The Pastry War Launch</h2>
						<h3>Role</h3>
						Interaction Design, UI/UX Design, Web Design, Project Management, Frontend
						<h3>Date</h3>
						June 2014
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger hpc" href="/samples/hpc">
				<img src="{{ url_for('static', filename='img/samples/hpc-thumb.png') }}">
					<div class="preview">
						<h2>Hermann Park Conservancy Redesign</h2>
						<h3>Role</h3>
						Interaction Design, UI/UX Design, Web Design, Project Management, Frontend
						<h3>Date</h3>
						March 2014
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger icon-color" href="/samples/icon-color">
				<img src="{{ url_for('static', filename='img/samples/icons-thumb.png') }}">
					<div class="preview">
						<h2>Icon Design and Color Schemes</h2>
						<h3>Role</h3>
						Graphic Design, Pixel Hinting, Icon Design
						<h3>Date</h3>
						June 2013
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger job-board" href="/samples/job-board">
				<img src="{{ url_for('static', filename='img/samples/job-board-thumb.png') }}">
					<div class="preview">
						<h2>Job Board Design</h2>
						<h3>Role</h3>
						Interaction Design, UX Design, UI Design
						<h3>Date</h3>
						February 2013
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger tsd" href="/samples/tsd">
				<img src="{{ url_for('static', filename='img/samples/tsd-thumb.png') }}">
					<div class="preview">
						<h2>The Simple Dollar Site &amp; Logo Redesign</h2>
						<h3>Role</h3>
						UI Design, UX Design, Typography
						<h3>Date</h3>
						January 2013
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger accounting-degree" href="/samples/accounting-degree">
				<img src="{{ url_for('static', filename='img/samples/accounting-thumb.png') }}">
					<div class="preview">
						<h2>AccountingDegree.com Redesign</h2>
						<h3>Role</h3>
						UI Design, UX Design, Typography
						<h3>Date</h3>
						December 2012
					</div>
				</a>
			</li>
			<li>
				<a class="thumb trigger slideshow" href="#">
				<img src="{{ url_for('static', filename='img/samples/slideshow-thumb.png') }}">
					<div class="preview">
						<h2>Dynamic Slideshow on a Timeline</h2>
						<h3>Role</h3>
						Interaction Design, UX Design, UI Design
						<h3>Date</h3>
						March 2012
					</div>
				</a>
			</li>
		</ol>	
	</div>
</div>
<div class="contact group">
		<div class="intro-content">
			<h1><a name="contact" class="target">Talk to Me</a></h1>
			<h2>Thanks for reaching out. I'll respond shortly.</h2>
			<form method="post" action="/">
			    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			</form>
		</div>	


			

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
<script type-"text/javascript" src="{{ url_for('static', filename='js/jquery.sticky.js')}}"></script>

<script>
	window.location.hash="contact";
</script>  

{% endblock %}