<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='stylesheets/screen.css')}}">
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Open+Sans:300,400,700|Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>    
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>
        

        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>  
        <title>Jordan Krueger | UI Design, Project Management, Front-end Development</title>
    </head>
    <body>
        <div id="test">

        <!--{% block frameless %}{% include "includes/frameless.html" %}
        {% endblock %}-->

        {% block header %}{% include "includes/header.html" %}
        {% endblock %}
     

        {% block content %}
        {% endblock %}


        {% block footer %}{% include "includes/footer.html" %}
        {% endblock %}
        </div>
<div id="sample"></div>
    </body>
</html>